* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.nav {
  background-color: #0d0d0d;
  display: flex;
  padding: 15px;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  align-items: center;
}

.nav h1 {
  font-size: 30px;
  position: absolute;
  left: 0;
  margin-left: 30px;
  color: white;
  font-weight: bold;
}

.greeting {
  width: 1000px;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.greeting h1 {
  font-size: 45px;
  font-weight: lighter;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Helvetica", "Arial";
  color: black;
  font-weight: lighter;
}

.link {
  font-family: "Helvetica", "Arial";
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.15s;
  padding: 0 50px;
}

.link:hover {
  color: rgb(204, 204, 204);
}

.page {
  height: 100%+0px;
  background-color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 64px;
}

.section {
  border-radius: 15px;
  width: 100%;
  height: calc(100vh - 64px);
  margin-top: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 15px;
  width: 1000px;
  height: 700px;
  background-color: white;
  box-shadow: 0px 0px 1px black;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}

.about-container {
  position: relative;
}

.about-container h1 {
  font-size: 100px;
  font-weight: bold;
  padding: 0 0 20px;
}

.about-container h2 {
  font-size: 30px;
}

.about-container h3 {
  margin-top: 30px;
  font-size: 30px;
}

.buttons-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.page a {
  display: flex;
  justify-content: center;
  font-family: "Helvetica", "Arial";
  border-radius: 18px;
  border: 0;
  width: 140px;
  padding: 10px 0px;
  font-size: 20px;
  background-color: rgb(179, 35, 179);
  color: white;
  font-weight: bold;
  transition: background-color 0.15s;
  text-decoration: none;
}

.page a:hover {
  background-color: rgb(218, 60, 218);
  cursor: pointer;
}

.theme-button {
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  right: 50px;
  border-radius: 40px;
}

.project-container {
  height: 100%;
  width: 100%;
  display: grid;
  row-gap: 30px;
}

img {
  height: 305px;
  border-radius: 20px;
  z-index: 1;
}

.under {
  z-index: 0;
}

.over {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.2s ease;
}
.over:hover {
  opacity: 1;
}
.project-info {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.project-info-text {
  justify-content: center;
  margin-left: 30px;
}

.project-info-text h1 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.project-info-text h2 {
  margin-top: 13px;
  font-size: 19px;
}

.project-info-text a {
  position: absolute;
  width: auto;
  right: 0;
  bottom: 0;
  padding: 10px 15px;
}

.material-symbols-outlined {
  color: white;
  position: fixed;
  right: 30px;
  font-size: 35px !important;
  transition: 0.15s;
}

.material-symbols-outlined:hover {
  transform: scale(1.1);
  color: rgb(204, 204, 204);
  cursor: pointer;
}
